<h1>Workout TABLE</h1>
<p>
  {{results}}
</p>
<div class='table-form'>
  <p>Add New Workout</p>
  <form action="/insert" method="get">
    Workout Name: <input name='name' type='text'><br />
    <input type='submit'>
  </form>
</div>
<div id='update-form' class='table-form' style='display:none'>
  <p>Update Workout</p>
  <form action="/safe-update" method="get">
    <input style='display:none' id='upid' name='id'>
    Name: <input id='upname' name='name' type='text'><br />
    Reps: <input id='upreps' name='reps' type='number'><br />
    Weight: <input id='upweight' name='weight' type='number'><br />
    Date: <input id='uppdate' name='date' type='date'><br />
    lbs: <input id='uplbs' name='lbs' type='number'>(0 for lbs, 1 for kg)<br />
    <input type='submit'>
  </form>
</div>
<table id="workouts">
</table>
<script>
  window.onload = dataLoad();
  var button = document.getElementById('addnew');

</script>
